@{
    ViewData["Title"] = "Upload successful";
}

<div class="text-left">
    <h1 class="display-4">File uploaded successfully.</h1>
    <p>We stored weather data in WeatherFileUploaded folder on root for historical analysis, we used current date as folder name and city id and city name as txt file name.</p>
</div>